<div
  class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75"
>
  <div class="bg-white rounded-lg p-6 shadow-lg w-[450px]">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Confirm Action</h2>
      <button
        (click)="closeModal()"
        class="text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <p class="text-gray-700 mb-4 text-base">
      {{ message }}
    </p>
    <div class="flex justify-end gap-5">
      <button
        (click)="closeModal()"
        class="px-3 py-2 text-base bg-red-600 text-white rounded-md hover:bg-red-500 focus:outline-none"
      >
        Cancel
      </button>
      <button
        (click)="confirm()"
        class="px-3 py-2 text-base bg-indigo-600 text-white rounded-md mr-2 hover:bg-indigo-500 focus:outline-none"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
