<div class="bg-gray-200 min-h-screen flex flex-col">
  <div
    class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
  >
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Sign up</h1>

      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="flex flex-col gap-1 mb-4">
          <input
            type="text"
            formControlName="name"
            class="block border w-full p-1.5 rounded text-sm focus:ring-2 focus:ring-inset focus:ring-indigo-600"
            placeholder="Full Name"
            [ngClass]="
              name?.invalid && name?.touched
                ? 'border-red-500'
                : 'border border-grey-light '
            "
          />
          <div
            *ngIf="name?.invalid && name?.touched"
            class="text-red-600 text-sm"
          >
            Name is required.
          </div>
        </div>
        <div class="flex flex-col gap-1 mb-4">
          <input
            type="email"
            formControlName="email"
            class="block border border-grey-light w-full p-1.5 rounded text-sm focus:ring-2 focus:ring-inset focus:ring-indigo-600"
            placeholder="Email"
            [ngClass]="
              email?.invalid && email?.touched
                ? 'border-red-500'
                : 'border border-grey-light '
            "
          />
          <div
            *ngIf="email?.invalid && email?.touched"
            class="text-red-600 text-sm"
          >
            Email is required.
          </div>
        </div>
        <div class="flex flex-col mb-4 gap-1">
          <input
            type="password"
            formControlName="password"
            class="block w-full p-1.5 rounded text-sm border focus:ring-2 focus:ring-inset focus:ring-indigo-600"
            placeholder="Password"
            [ngClass]="
              password?.invalid && password?.touched
                ? 'border-red-500'
                : 'border-grey-light '
            "
          />
          <div
            *ngIf="password?.invalid && password?.touched"
            class="text-red-600 text-sm"
          >
            Password is required and must be at least 6 characters.
          </div>
        </div>
        <div class="flex flex-col mb-4 gap-1">
          <input
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            class="block border border-grey-light focus:ring-indigo-600 w-full p-1.5 rounded text-sm"
            placeholder="Confirm Password"
            [ngClass]="
              signUpForm.errors?.mismatch && password?.touched
                ? 'border-red-500'
                : 'border border-grey-light '
            "
          />
          <div
            *ngIf="signUpForm.errors?.mismatch && password?.touched"
            class="text-red-600 text-sm"
          >
            Passwords do not match.
          </div>
        </div>

        <button
          type="submit"
          [disabled]="isSubmitting"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 p-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer disabled:cursor-not-allowed"
        >
          Create Account
        </button>
      </form>
    </div>

    <div class="text-grey-dark mt-6">
      Already have an account?
      <a
        class="text-indigo-600 no-underline border-b border-blue text-blue"
        routerLink="login"
      >
        Log in
      </a>
    </div>
  </div>
</div>
