<div>
  <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
    <h2 class="font-bold text-2xl">
      Angular
      <span class="bg-[#f84525] text-white px-2 rounded-md">Assignment</span>
    </h2>
  </a>
  <ul class="mt-4">
    <span class="text-gray-400 font-bold">ADMIN</span>
    <li class="mb-1 group">
      <a
        routerLink="/home"
        routerLinkActive="bg-gray-950 text-white"
        class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Home</span>
      </a>
    </li>
    <li class="mb-1 group">
      <a
        routerLink="/tasks"
        routerLinkActive="bg-gray-950 text-white"
        class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Task</span>
      </a>
    </li>
  </ul>
</div>
