<form (ngSubmit)="onSubmit(actorForm)" #actorForm="ngForm">
  <div class="space-y-12 p-10 md:w-6/12 w-full">
    <div class="border-b border-gray-900/10 p-5 bg-white">
      <h2 class="text-base font-semibold leading-7 text-gray-900">
        Task Information
      </h2>
      <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-12">
          <label
            for="title"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Title</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="title"
              id="title"
              minlength="3"
              maxlength="15"
              required
              [(ngModel)]="task.title"
              #title="ngModel"
              class="block w-full rounded-md p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
              [ngClass]="
                title.invalid &&
                (title.dirty || title.touched) &&
                (title.hasError('required') || title.hasError('minlength'))
                  ? 'border-red-500 border'
                  : 'border-0'
              "
            />
            <div
              *ngIf="title.invalid && (title.dirty || title.touched)"
              class="text-red-500 text-sm"
            >
              <div *ngIf="title.hasError('required')">Title is required.</div>
              <div *ngIf="title.hasError('minlength')">
                Title must be at least 3 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="sm:col-span-12">
          <label
            for="description"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Description</label
          >
          <div class="mt-2">
            <textarea
              name="description"
              id="description"
              minlength="10"
              required
              [(ngModel)]="task.description"
              #description="ngModel"
              class="block w-full rounded-md p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              [ngClass]="
                description.invalid &&
                (description.dirty || description.touched) &&
                (description.hasError('required') ||
                  description.hasError('minlength'))
                  ? 'border-red-500 border'
                  : 'border-0'
              "
            ></textarea>
            <div
              *ngIf="
                description.invalid &&
                (description.dirty || description.touched)
              "
              class="text-red-500 text-sm"
            >
              <div *ngIf="description.hasError('required')">
                Description is required.
              </div>
              <div *ngIf="description.hasError('minlength')">
                Description must be at least 10 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="sm:col-span-4">
          <label
            for="due-date"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Due date</label
          >
          <div class="mt-2">
            <input
              id="due-date"
              name="due-date"
              required
              type="date"
              [(ngModel)]="task.dueDate"
              [min]="minDate"
              (ngModelChange)="validateDate(dueDate)"
              #dueDate="ngModel"
              class="block w-full rounded-md p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              [ngClass]="
                dueDate.invalid &&
                (dueDate.dirty || dueDate.touched) &&
                (dueDate.hasError('required') ||
                  dueDate.errors?.pastDate ||
                  dueDate.errors?.invalidDate)
                  ? 'border-red-500 border'
                  : 'border-0'
              "
            />
            <div
              *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)"
              class="text-red-500 text-sm"
            >
              <div *ngIf="dueDate.hasError('required')">
                Due date is required.
              </div>
              <div *ngIf="dueDate.errors?.pastDate">
                Due date cannot be in the past.
              </div>
              <div *ngIf="dueDate.errors?.invalidDate">Invalid date</div>
            </div>
          </div>
        </div>
        <div class="sm:col-span-6">
          <label
            for="complete"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Priority</label
          >
          <div class="mt-2">
            <select
              id="status"
              name="status"
              [(ngModel)]="task.status"
              #status="ngModel"
              class="block w-full rounded-md border-0 p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-10">
        <button
          type="submit"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
