<td class="px-5 py-5 border-b text-sm">
  <div class="flex items-center">
    <div class="group relative flex">
      <span class="text-gray-900 line-clamp-1">
        {{ task.title }}
      </span>
      <span
        class="group-hover:opacity-100 w-full transition-opacity bg-gray-800 p-1 text-sm text-gray-100 rounded-md absolute opacity-0 mt-5 z-50"
      >
        {{ task.title }}</span
      >
    </div>
  </div>
</td>
<td class="px-5 py-5 border-b text-sm">
  <div class="group relative flex">
    <p
      class="group relative text-gray-900 line-clamp-1 hover:text-clip whitespace-no-wrap"
    >
      {{ task.description }}
    </p>
    <span
      class="group-hover:opacity-100 w-full transition-opacity bg-gray-800 p-1 text-sm text-gray-100 rounded-md absolute opacity-0 mt-5 z-50"
    >
      {{ task.description }}</span
    >
  </div>
</td>
<td class="px-5 py-5 border-b">
  <p class="text-gray-900 whitespace-no-wrap">
    {{ dateUtil.formatDate(task.dueDate, "dd-MM-yyyy") }}
  </p>
</td>
<td class="px-5 py-5 border-b text-sm">
  <span
    class="relative inline-block px-3 py-1 rounded-full text-white"
    [ngClass]="{
      'bg-green-500 ': task.status === 'low',
      'bg-yellow-500 ': task.status === 'medium',
      'bg-red-500 ': task.status === 'high'
    }"
    >{{ task.status }}
  </span>
</td>
<td class="px-5 py-5 border-b text-sm">
  <div class="flex items-end gap-3">
    <a routerLink="/tasks/{{ task.id }}">
      <button
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Edit
      </button>
    </a>
    <button
      (click)="onDelete()"
      class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Delete
    </button>
  </div>
</td>
